my-secrets/
terraform/eks/terraform.tfstate*
terraform/eks/terraform.tfvars
terraform/eks/.terraform
courses/Books/CloudNativeWithK8s/demos
.idea
terraform/eks/.terraform.lock.hcl
terraform/eks/.terraform.tfstate.lock.info
config
my-secrets/
terraform.tfstate*
terraform.tfvars
.terraform*
